*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.homePage{
    width: 100%;
    height: 100%;
    background-color: white;
}
.toolBar{
    width: 100%;
    height: 100px;
}
.toolBar .logo{
    height: 50px;
    width: 50px;
   margin: 20px;
   margin-bottom: -20px;
   /* position: absolute; */
}
.toolBar .letter{
    padding: 20px;
    font-size: 20px;
    color: rgb(71, 70, 70);
    /* margin-left: 70px;
    margin-bottom: -50px; */
    
}
.toolBar .letter:hover{
    color: rgb(167, 159, 159);
}
.toolBar-rieght{
    text-align: right;
    margin-right: 20px;
    margin-top: -40px;
}
.img-Trang{
    width: 100%;
    height: 650px;
}
.img{
    width: 200px;
}
.toolBar-rieght .fa-solid{
    padding: 10px;
    /* margin-top: -20px; */
    color: rgb(73, 71, 71);
}

.fa-circle-user{
    font-size: 30px;
    color: white;
   
}
#buttonUpload{
    border: 1px solid green;
    background-color: green;
    font-size: 20px;
    border-radius: 30px;
    padding: 3px;
    width: 150px;
    height: 50px;
    
}
#buttonUpload:hover{
    background-color: rgb(8, 151, 8);
}
.homePage .top{
    width: 820px;
    height: 550px;
    text-align: center;
    margin: auto;
    margin-top: -530px;
}
.top .title{
    font-size: 40px;
    padding: 20px;
    color: white;
}
.top .title-two{
    font-size: 18px;
    padding-bottom: 40px;
    color: white;
}
#input{
    width: 750px;
    height: 60px;
    border-radius: 10px;
    padding-left: 20px;
    border: none;
}
.btn-search{
    height: 60px;
    width: 100px;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 370px;
    left: 1010px;
}
.btn-search:hover{
    background-color: rgb(162, 162, 162);
}
.top .centent{
    font-size: 15px;
    margin: 10px;
    color: rgb(95, 88, 88);
}
.top .centent-two{
    font-size: 20px;
    padding-top: 240px;
    color: white;
}
.homePage .images{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}
.img{
    width: 350px;
}
.img-two{
    margin-top: 20px;
    width: 350px;
}

.homePage .container-buttom{
    text-align: center;
    color: rgb(71, 71, 71);
}
#discover{
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin: 50px;
    border: 1px solid rgb(24, 184, 24);
    background-color: rgb(24, 184, 24);
    font-size: 17px;
    color: white;
    margin-bottom: 200px;
}
#discover:hover{
    background-color: rgb(22, 209, 22);
}
.container-buttom .letter-buttom{
    font-size: 40px;
    padding-bottom: 50px;
}
.container-buttom .centent-buttom{
    font-size: 20px;
    padding-bottom: 5px;
}
.container-buttom .learn{
    color: rgb(48, 48, 238);
    font-size: 20px;
    margin-bottom: 70px;
}
.bottom-bar-tool{
    font-size: 20px;
    color: white;
    height: 50px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background-color: rgb(11, 11, 131);
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    
}
.fa-solid:hover{
    color: rgb(181, 177, 177);
}