.profile-nav{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid black;
  align-items: center;
}
.profile-nav img{
width: 40px;
height:40px;
}
.profile-nav-right{
  display: flex;
  align-items: center;
  
}
.profile-nav-right div{
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.profile-nav-right img{
  border-radius: 50%;
}
.profile-nav-right button{
  background-color: #02BE6E;
  border: none;
  width: 110px;
  height: 35px;
  border-radius: 999px;
  cursor: pointer;
}
.profile-body{
  text-align: center;
  height: 320px;
  background-color: #4B535E;
  color: white;
  background-color: rgb(105, 105, 105);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 196, 0, 0.5),
    rgba(0, 94, 255, 0.5)
  ), url("https://cdn.pixabay.com/photo/2022/05/21/09/30/cat-7211080__340.jpg");
  
}
.profile-body img{
  width: 110px;
  height:110px;
  border-radius: 50%;
}
.profile-body i{
  margin: 20px;
}

.profile-edit-profile{
  display: inline-block;
  position:absolute;
  right:30px;
  top:30px;
}
.profile-body-items button{
  width: 140px;
  height:35px;
  background-color: #008DDF;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  color:white;
}
.profile-images{
  display: flex;
}

.profile-images img{
  width: 20%;
  height:200px;
  margin-left: 10px;
  margin-top: 10px;
  object-fit: cover;
}
